
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%; 
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------------- HEADER ------------------- */
.header {
border-bottom: 1px solid #E7E9FC;
}

.header-container {
display: flex;
align-items: center;
}

.naviganion {
display: flex;
align-items: center;
}

.nav-logo {
color:  #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}

.nav-logo-part {
color: #2E2F42;
}

.nav-list {
display: flex;
gap: 40px;
}

.nav-link {
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em; 
padding: 24px 0;
display: block;
}

.nav-link:hover, 
.nav-link:focus {
color: #404BBF;
} 

.address {
font-style: normal;
margin-left: auto;
}

.address-list {
display: flex;
gap: 40px;
}

.address-link {
color: #434455;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
color: #404BBF;
}

/* -------------------------------------------- */
/* ----------------SECTION-------------------  */

.section {
background-color:  #2E2F42;
padding-top: 188px; 
padding-bottom: 188px; 
}

.section-container {
display: block;
align-items: center;
}

.section-main-title {
color:  #FFF;
font-size: 56px;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 0.02em;
text-align: center;
max-width: 496px;
margin: 0 auto;
}

.section-main-btn {
background: #4D5AE5;
color: #FFF;
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
border-radius: 4px;
display: block;
min-width: 169px;
height: 56px;
border: none;
margin: 0 auto;
margin-top: 48px;
}

.section-main-btn:hover,
.section-main-btn:focus {
background-color:  #404BBF;
}

/* --------------------------------------- */
/* -----------------BENEFITS-------------- */

.section-benefits {
padding-top: 120px;
padding-bottom: 120px;
}

.container-benefits {
display: flex;
}

.section-benefits-title {
}

.section-benefits-list {
display: flex;
gap: 24px;

}

.section-benefits-item {
width: 264px;
}

.section-benefits-subtitle {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;

}
.section-benefits-text {
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
}

 /* ---------------------------------------*/
 /* ---------------TEAM-------------------- */

.section-team {
background:  #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}
.container-team {


}
.section-team-title {
color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
margin-bottom: 72px;
}

.section-team-list {
display: flex;
gap: 24px;

}

.section-team-item {
background: #FFF;
width: calc((100% - 3 * 24px) / 4);
border-radius: 0px 0px 4px 4px;
}



.team-subtitle-item {
padding-top: 32px;
padding-bottom: 32px;
}

.section-team-subtitle {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;
}

.section-team-text {
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
text-align: center;
}

/* _---------------------------------------- */
/* ---------------PORTFOLIO----------------- */

.section-portfolio {
 padding-top: 120px; 
 padding-bottom: 120px;
}

.container-portfolio {
}

.section-portfolio-title {
color:  #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
margin-bottom: 72px;
}

.section-portfolio-list {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.section-portfolio-item {
width: calc((100% - 48px) / 3);
}

.portfolio-subtitle-text {
 padding: 32px 16px;
 border:  1px solid #e7e9fc;
 border-top: none;
}

.section-portfolio-subtitle {
color:  #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;  
margin-bottom: 8px;
}

.section-portfolio-text {
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em; 
}

/* -------------------------------------------- */
/* -------------------FOOTER------------------- */

.footer {
background: #2E2F42;
padding-top: 100px;
padding-bottom: 100px;
}
.container-footer {
}

.footer-logo {
color: #4D5AE5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.03em;
text-transform: uppercase; 
display: inline-block;
margin-bottom: 16px;
}

.footer-logo-part {
color: #F4F4FD;
}

.footer-text {
color: #F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
margin-top: 8px;
width: 264px;
}

/* ----------------------------------------- */
   
   
   
   
